*.iml
.gradle/
.kotlin/
.idea/
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
app/build/
shared/build/
webApp/build/
webApp/.kotlin/
dist/
artifacts/
*.jks
*.keystore
keystore.properties
